<form asp-action="UpdateStatues" asp-controller="Student" method="post">

    <select name="statues">
        <option value="Open">Open</option>
        <option value="Panding">Panding</option>
        <option value="Close">Close</option>
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>