@model Student

<form asp-action="UpdateForm" asp-controller="Student" method="post">

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input name="Name" type="text" class="form-control" id="Name" aria-describedby="emailHelp">
        <span asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input name="Email" type="text" class="form-control" id="Email">
        <span asp-validation-for="Email"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
